/* CSS reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* Css Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    position:sticky ;
    align-items: center;
    top: 0px;
}
#navbar::before{
    content: "" ;  
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.4 ;

}
/* Navigation bar: Logo and Image */
#logo{
 margin: 10px 28px;
}
#logo img{
    height: 45px;
    margin: 5px 10px;
}
/* Navigation bar: List style */

#navbar ul{
    display: flex;  
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;

}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
   background-color: white;
}

/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 40px 200px; 
    height: 249px;
    justify-content: center;
 align-items: center ;
}
#home::before{
    content: "" ;  
    position: absolute;
    background: url('Image/Bg.jpg') no-repeat center center/cover;
    top: 0px;
    left: 0px;
    height: 408px;
    width: 100%;
    z-index: -1;
    opacity:0.79 ;
}

#Home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Center */

#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 10px;
    margin: 3px 7px;
    border-radius: 25px;
    background: #f2f2f2;
    margin-bottom: 20px;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Baloo Bhai 2', cursive;
}

/* Client Section */

#client-section{
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('Image/bg2.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#clients img{
    height: 125px;
    margin: 34px;
}
/* Contact Section */
#contact{
    position: relative;
    
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('Image/Contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}
#contact-box input,
#contact textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
    
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
footer{
    background: black;
    padding: 9px 17px;
}
footer .center{
    color: white;
}
/* Utility Classes  */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;
    padding: 10px;
    color: white;
}
.h-secondary{
    font-size: 2.1rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
    
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
    color: black;
}
